@import "tailwindcss";

:root {
  --background: #e8e4d9;
  --foreground: #22211f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-serif: var(--font-crimson-pro);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-serif), system-ui;
}

.mono {
  font-family: var(--font-mono);
}

.glass-edge {
  border-image-source: linear-gradient(91deg, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,0.5) 100%);
  border-image-slice: 1;
}